 @import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

 /*main webpage */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    font-family: 'Mooli', sans-serif;
    background-color: rgb(192, 176, 240); 
 }

 html {
    font-size: 90%;
    overflow-x: hidden;
    background-color: rgb(192, 176, 240); 
}

body {
    color:blanchedalmond;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    position: relative;
    -webkit-font-smoothing: antialiased;
    text-align: center;

}

/*sticky sidebar and main content */



.sticky-sidebar h1  {
    font-size: 3rem;
    font-weight:bolder;
    padding-bottom: 2.5rem;
    padding-top: 8rem;
    width: 100%;
}

.sticky-sidebar h1 a:link, a:visited {
    text-decoration: none;
    color: blanchedalmond;
} 



h2 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0.5rem 0.2rem;
    color: blanchedalmond;
}

h3 {
    font-size: 1.5rem;
    color:blanchedalmond;
    text-align: center;
}

h2, p {
    padding: 0.1em 0.1em;
}

.sticky-sidebar p {
    font-size: 0.6rem;
}

/*nav bar*/
 
.sticky-sidebar .nav-list a:link, a:visited {
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    text-decoration: none;
    font-weight: bold;

}

.sticky-sidebar .nav-hidden .nav-list a {
    background-image: linear-gradient(
        to right,
        #6df5ff,
        rgb(158, 242, 248) 50%,
        blanchedalmond 50%
      );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 8px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out; 
}


.sticky-sidebar .nav-list .about:before {
    content:'';
    text-align:center; 
    background: #6df5ff;
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1.5px;
    transition: all 0.3s ease-in-out;  
}

.sticky-sidebar .nav-list .about:hover {
    color:aquamarine;
    background-position: 0;
}

.sticky-sidebar .nav-list .about:hover::before {
    width: 100%;
}


.sticky-sidebar .nav-list .interest:before {
    content:'';
    text-align:center; 
    background: #6df5ff;
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1.5px;
    transition: all 0.3s ease-in-out;  
}

.sticky-sidebar .nav-list .interest:hover {
    color:aquamarine;
    background-position: 0;
}

.sticky-sidebar .nav-list .interest:hover::before {
    width: 100%;
}

.sticky-sidebar .nav-list .experience:before {
    content:'';
    text-align:center; 
    background: #6df5ff;
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1.5px;
    transition: all 0.3s ease-in-out;  
}

.sticky-sidebar .nav-list .experience:hover {
    color:aquamarine;
    background-position: 0;
}

.sticky-sidebar .nav-list .experience:hover::before {
    width: 100%;
}


.sticky-sidebar .nav-list .projects:before {
    content:'';
    text-align:center; 
    background: #6df5ff;
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1.5px;
    transition: all 0.3s ease-in-out;  
}

.sticky-sidebar .nav-list .projects:hover {
    color:aquamarine;
    background-position: 0;
}

.sticky-sidebar .nav-list .projects:hover::before {
    width: 100%;
}


/*navigation sidebar */

.nav-hidden {
    flex: 1;
}

.nav-hidden ul li {
    list-style-type: none;
    margin: 0;
    padding: 4rem 0;
    line-height: 2.1;
}

/*social-media icon insert*/

.sticky-sidebar .social-media a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-top: 6rem;
    background: transparent;
    color: blanchedalmond;
    margin: 1rem .8rem;
    font-size: 1.5rem;
    margin: 1rem 0.5rem; 
    transition: 0.6s ease-in-out;
 }

 .sticky-sidebar .social-media a:hover {
    color:#6df5ff;
 }

.contact {
    position:relative;
    top:4rem;
    text-transform: uppercase;
}


.contact a {
    text-transform: uppercase;
    font-size: smaller;
    color: blanchedalmond;
}


.contact  img {
    width: 40%;
    height: 30%;
    float: right;
    position:relative;
    bottom: 9rem;
    left: 5rem;
    border-radius: 60%; 
}
 



/* styles for desktop devices */
@media only screen and (min-width: 992px) {
    body  {
      width: 90%;
      margin: auto;
    }
  }
  
  /* styles for tablet devices */
  @media only screen and (min-width: 600px) and (max-width: 991px) {
    body {
      width: 70%;
      margin: auto;
    }

    .sticky-sidebar {
       padding-left: 0.5rem;
       padding-right: 0.5rem;
       font-size: small;
    }

    .main-content {
        font-size: small;
    }

    h2 {
        font-size: 2rem;
    }

    .skills-icon .img-respond {
       margin: 1rem 1.5rem;
    }

  }
  


  /* styles for mobile devices */
  @media only screen and (max-width: 400px) {
    body {
      width: 80%;
      margin: 0;
    }

    .sticky-sidebar h1 {
        padding: 0;
    }

    .sticky-sidebar {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        font-size: smaller;
     }
 
     .main-content {
         font-size: smaller;
         float: right;
     }
 
     h2 {
         font-size: 1.5rem;
     }
 
     .social-media a {
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
     }

     .skills-icon .img-respond {
        padding: 0.25rem 0.25rem;
     }
 
     
     .project-icons .text-box {
        
        text-align:justify;
        float: right;
        
        
     }

     .project-icons .img-project {
        position: relative;
     }
  }





